{% extends "::layout/layout.html.twig" %}

{% block titre %}{{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="article-container-header">
        Boutique
        </div>  
        <div class=" col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <div class="center-inside">
                <div class="my-article-container">
                    <div class="alphabg  container-fluid" style="margin:10px;">
                        <a style="text-decoration: none;" href=""><div class="article-header" style="width:100%">
                            {{produit.nom}}
                        </div></a>
                        
                        <div class="article-main  container-fluid" style="width:100%">
                        <div class="col-md-4 container-fluid">
                        <div class="imageproduit" style="background-image:url({{asset(produit.image.AssetPath)}})"></div>
                        </div>
                        <div class="col-md-8 container-fluid">
                                <h3>Catégorie : <small><a href="{{path('categorieProduits', { 'categorie' : produit.categorie })}}">{{produit.categorie.nom}}</a></small> </h3>
                                <h3>Description : </h3>
                                {{produit.description}}
                                </div>
                        </div>
                                            <div class="container-fluid article-footer" style="text-align:center;width:100%">
                        <div style="">
                            {{produit.prix}}
                        </div>
                    </div>
                    <div class="container-fluid article-footer" style="text-align:center;width:100%">
                        <a href="{{ path('ajouter', { 'id' : produit.id }) }}">
                            Ajouter au panier
                            <span style=" background-color:white; padding:5px; border-radius:20px; float:left" class="glyphicon glyphicon-shopping-cart"></span></a>
                        </a>
                    </div>
                    </div>
                </div>
        </div>
        </div>
        
        
        </section>
{% endblock %}