{% extends '::layout/layout.html.twig' %}

{% block body -%}
    <h1>Produits edit</h1>
    
    {{ form_start(edit_form, {'action': path('adminProduits_update',{ 'id': produitId }), 'method': 'POST'}) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminProduits') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
