
<!Doctype html> 
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Site officiel du bureau des étudiants de l'Exia"/>
		<meta name="keywords" content="Bureau des étudiants, Exia, Cesi, Activités, étudiants, informatique, vie associative"/>
		<meta name="author" content="Belahcel Wacim, Benaboud Ramzi, Omar Amrani Fares, Tobbal Nadjet"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>BDE Exia</title>
		<link rel="stylesheet" href="C:\Users\CESI\Desktop\Projet Web\HTML\font-awesome-4.7.0\css\font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href=" {{ asset('css/bde.css') }}">
        <link rel="stylesheet" href=" {{ asset('css/screen.css') }}" media="screen">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
	
	<body style="background-image:url({{ asset('images/campus.jpg') }});">
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand center-inside" href="#"><img style="height:50px; width:50px" src="{{ asset('images/logo.png') }}" alt="Cesi Exia"/></a>
				</div>
				<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right"><a href="{{ path('fos_user_registration_register') }}"><li><span class="glyphicon glyphicon-user"></span>S'inscrire</a></li></ul>
				</div>
			</nav>
		</header>

<div class="container">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
   <footer>
            <div class="container-fluid" style=" background-color:#2E2E2E !important; text-align: center">
                <div style ="float:left;">
                    <a href=""><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                </div>

                <a href="">Contact</a>
                |
                <a href="">Mentions légales</a>
                |
                <a style="" href="#">Conditions d'utilisation</a>
                |
                <a style="" href="#">A propos</a>

            </div>

            <div class="container-fluid" style="background-color: #ff4444">
                    <div class="container-fluid" style="background-color:white; padding:3px; margin:3px; border-radius:15px;text-align: left">
                        <a class="col-xs-6 col-sm-4 col-md-2 col-lg-2" href="http://www.cesi.fr/"><img src="https://exia.cesi.fr/wp-content/themes/eice/assets/images/logo-footer-cesi.png" alt="CESI"></a> 
                        <a class="col-xs-6 col-sm-4 col-md-2 col-lg-2" href="https://www.eicesi.fr/"><img src="https://exia.cesi.fr/wp-content/themes/eice/assets/images/logo-footer-cesi-eice.png" alt="ei.CESI"></a>
                        <a class="col-xs-6 col-sm-4 col-md-2 col-lg-2" href="https://www.cesi-alternance.fr/"><img src="https://exia.cesi.fr/wp-content/themes/eice/assets/images/logo-footer-cesi-alternance.png" alt="CESI alternance"></a>
                        <a class="col-xs-6 col-sm-4 col-md-2 col-lg-2" href="https://www.cesi-entreprises.fr/"><img src="https://exia.cesi.fr/wp-content/themes/eice/assets/images/logo-footer-cesi-enterprise.png" alt="CESI entreprises, l'école des managers"></a>
                        <a class="col-xs-6 col-sm-4 col-md-2 col-lg-2" href="http://www.cesi-certification.fr/"><img src="https://exia.cesi.fr/wp-content/themes/eice/assets/images/logo-footer-cesi-certification.png" alt="CESI certification"></a>
                        <a class="col-xs-6 col-sm-4 col-md-2 col-lg-2" href="http://www.cesialumni.fr/"><img src="https://exia.cesi.fr/wp-content/themes/eice/assets/images/logo-footer-cesi-alumni.png" alt="CESI alumni"></a>
                    </div>
            </div>
        </div>
        </footer>
    </body>
</html>




